

<span class="row">
  <span class="col-md-8">

<% if nil %>
  <% 3.times do %>
  <span class="col-md-8">
    <div class="text-center"><%= time_ago_in_words(Date.current) %></div>
    <div class="alert alert-success">
      警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种内容类。从成功，消息，警告或危险中任选其一
    </div>
  </span>
  <% end %>

  <% 3.times do %>
  <span class="col-md-8 col-md-offset-4 text-right">
    <div class="text-center"><%= time_ago_in_words(Date.current) %></div>
    <div class="alert alert-info">
      可以快速提供在任何警告框中相符的颜色
    </div>
  </span>
  <% end %>
  </span>
<% end %>

  <span class="col-md-8">1111111111</span>

  <span class="col-md-4">
    <h3 class="text-center"><a href="javascript:void(0);">1111111111</a></h3>
    <span class="row">
      <span class="col-md-6"><strong>姓名:</strong> 孙悟空</span>
      <span class="col-md-6"><strong>姓名:</strong> 孙悟空</span>
    </span>
    <span class="row">
      <span class="col-md-6"><strong>姓名:</strong> 孙悟空</span>
      <span class="col-md-6"><strong>姓名:</strong> 孙悟空</span>
    </span>
    <span class="row">
      <a href="javascript:void(0);">西游记西游记西游记西游记西游记西游记游记</a>
      <a href="javascript:void(0);">西游记西游记西游记西游记西游记西游记游记</a>
      <a href="javascript:void(0);">西游记西游记西游记西游记西游记西游记游记</a>
      <a href="javascript:void(0);">西游记西游记西游记西游记西游记西游记游记</a>
    </span>
    <span class="row">
      <h4>我的我的</h4>
    </span>
  </span>

</span>








































































